.piece {
    border-radius: 100px;
}

.b {
    background-color: black;
    border: 1px solid black;
}

.w {
    background-color: white;
    border: 7px solid black;
}

.small {
    width: 70%;
    height: 70%;
    min-width: 18px;
    aspect-ratio: 1;
}

.medium {
    width: 42px;
    height: 42px;
}